@import "../../../styles/variables";

.navbar-container {
  color: white;
  background-color: $main-design-blue;
  width: auto;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.navbar-title {
  margin: 0;
}

.add-button {
  width: 2.5vw;
  all: unset;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px rgb(55, 55, 55) solid;
    border-radius: 15px;
  }
}

.add-img {
  width: 2.5vw;
  margin: auto;
}
