.reminders-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;

  //   justify-items: center;
  //   align-self: center;
  //   align-items: center;
  //   width: 100%;
  //   display: flex;
}

// .reminders-page {
//   align-items: center;
//   //   position: relative;
// }
