.info-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  background-color: gray;
  padding: 0.5em;
  border-radius: 9px;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dates-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.reminder-card-container {
  background-color: rgb(77, 77, 77);
  color: white;
  width: 25%;
  min-height: 10%;
  padding: 1em;
  //   box-sizing: border-box;
  border: 1px rgb(153, 153, 153) solid;
  border-radius: 9px;
  position: relative;
}

.priority-img {
  width: 10%;
  min-height: 10%;
  //   align-self: first baseline;
  //   right: 0;
  //   top: 1em;
  background-color: rgb(255, 81, 42);
  border-radius: 9px;
}

p,
h3 {
  margin: 0;
}
