$priority-colors: (
  1: #ff4000,
  2: #ffff00,
  3: #33cc33,
);

.info-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  background-color: gray;
  padding: 0.5em;
  border-radius: 9px;
  min-height: 5vh;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  max-width: 80%;
}

.reminder-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dates-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.reminder-card-container {
  background-color: rgb(77, 77, 77);
  color: white;
  width: 25%;
  min-height: 10%;
  padding: 1em;
  border: 1px rgb(153, 153, 153) solid;
  border-radius: 9px;
  position: relative;
}

.priority-box {
  width: 10%;
  min-height: 10%;
  border-radius: 9px;
}

@each $priority, $color in $priority-colors {
  .priority-#{$priority} {
    @extend .priority-box;
    background-color: $color;
  }
}

p,
h3 {
  margin: 0;
}
