@import "../../../styles/variables";

.add-reminder-container {
  border-radius: $default-border-radius;
  padding: 1em;
  max-width: 40vw;
  background-color: $reminder-background-color;
}

input,
select,
textarea {
  padding: 1em;
}

.reminder-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > textarea {
    resize: none;
  }
}
